html{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-snap-type: y mandatory;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #1F1A36;
    color: #B3B8CD;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Alterado de min-height para height */
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    margin:0;
    scroll-behavior: smooth;
}

  //identidade visual
  /* #231E39 - roxo claro;
  #1F1A36 - roxo escuro;
  #FEBB0B - amarelo fogo;
  #B3B8CD - cinza gelo(fontes); */

@keyframes fireAnimation {
    0% {
        color: #ff5722; /* Start color (orange) */
        text-shadow: 0 0 5px #ff5722, 0 0 10px #ff5722, 0 0 15px #ff5722; /* Text shadow */
    }
    50% {
        color: #ffeb3b; /* Middle color (yellow) */
        text-shadow: 0 0 5px #ffeb3b, 0 0 10px #ffeb3b, 0 0 15px #ffeb3b; /* Text shadow */
    }
    100% {
        color: #ff5722; /* End color (orange) */
        text-shadow: 0 0 5px #ff5722, 0 0 10px #ff5722, 0 0 15px #ff5722; /* Text shadow */
    }
}

.main {
    background: url("background.png");
    background-size: cover;
    background-blend-mode: overlay;
    background-repeat:repeat-y;

}
header {
    position: fixed;
    background: linear-gradient(45deg, #120e21, #3d1c40);
    padding: 20px;
    text-align: center;
    transition: background 0.5s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0;
}

header h1 {
    color: #FEBB0B;
    font-size: 2em;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* Add a modern font */
    letter-spacing: 2px; /* Adjust letter spacing for a sleek look */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add subtle text shadow */
    transition: color 0.5s ease-in-out;
}

/* Optional: Add hover effect to the header */
header:hover {
    background: linear-gradient(45deg, #3d1c40, #120e21);
}
header::before{
    position:absolute;
}
header img{
    widht:50px;
    height:50px;
}
section {
    flex: 1;
    max-width: 800px;
    margin: 80px auto 20px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
    overflow: hidden;
    background-color: #231E39;
    color: #B3B8CD;
    scroll-snap-align: start;
}

.main-content {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}

.data-panel {
    flex: 0 0 45%;
    cursor: pointer; /* Adiciona cursor indicando que a imagem é clicável */
}

.data-panel img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out; /* Adiciona transição para um efeito suave */
    background-size:cover;
}
.text-content {
    flex: 0 0 50%; /* Ajuste o tamanho conforme necessário */
}

section:hover {
   
    transform: scale(1.02);
}

h2 {
    color: #FEBB0B;
    border-bottom: 2px solid #FEBB0B;
    padding-bottom: 10px;
    margin-bottom: 20px;
    transition: color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
h3{
    color: #FEBB0B;
}
p {
    line-height: 1.6;
}
.ourserv{
    margin-top:50px;
}
.services {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    
}

.service {
    display:flex;
    background-color: #1F1A36;
    padding: 20px;
    border-radius: 8px;
    margin-left:20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex-direction:column;
    
}

.service:hover {
    transform: scale(1.05);
    background-color: #1F1A36;
}

.service h4 {
    color: #FEBB0B;
    font-size: 1.2em;
    transition: color 0.5s ease-in-out;
}

footer {
    background-color: #120e21;
    text-align: center;
    padding: 20px;
    transition: background-color 0.5s ease-in-out;
    color: #B3B8CD;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    color: #B3B8CD;
    margin: 0;
}

footer a {
    color: #B3B8CD;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #FEBB0B;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.social-icons i:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
}

.experts-section {
    max-width: 800px;
    margin: 0 auto;
    padding-top:100px;
    padding: 30px;
    background-color: #231E39;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #B3B8CD;
}

.expert-card {
    display: flex;
    flex-direction: row; /* Changed to column for stacking elements */
    align-items: center;
    
}

.expert-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size:60%;
   
}
.imgcont {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
  }
.expert-display{
    display:flex;
    flex-direction:column;
}
.expert-info {
    text-align: center; /* Center the text */
}

.expert-info h4 {
    color: #FEBB0B;
    margin-bottom: 10px;
}

.expert-info p {
    margin: 0;
    line-height: 1.4;
}
.expert-info i{
    align-items:center;
}
.experiences {
    margin-left: 20px; /* Spacing between info and experiences */
}

.experiences p {
    margin: 0;
    line-height: 1.4;
}

.experiences p:first-child {
    font-weight: bold;
    color: #FEBB0B; /* Orange color for focus effect */
}



/* Mobile Styles */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Ajuste o tamanho da fonte para dispositivos móveis conforme necessário */
    }

    header {
        padding: 15px;
    }

    header h1 {
        font-size: 1.5em;
    }

    .main {
        background-size: auto; /* Altere para 'auto' para evitar que a imagem de fundo seja cortada */
    }

    section {
        margin: 20px;
        padding: 15px; /* Adicione algum preenchimento para melhorar a leitura no celular */
        max-width: 100%; /* Garanta que a largura da seção seja 100% na tela pequena */
    }

    .main-content {
        flex-direction: column;
    }

    .data-panel,
    .text-content {
        flex: 1;
        margin-bottom: 20px;
    }

    .services {
        
        flex-direction: column;
    }

    .service {
     
        margin-bottom: 20px;
    }

    footer {
        padding: 15px;
    }

    .social-icons {
        flex-direction: column;
    }
    .expertsec{
       flex-direction:column;
    }
    .expert-card{
        flex-direction:column;
    }
}
.expertsec{
    display:flex;
    justify-content:space-between;
    margin:10px;
}

.pwa-install-prompt {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(45deg, #120e21, #3d1c40);
    color: #B3B8CD; /* cinza gelo */
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.pwa-install-prompt {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(45deg, #120e21, #3d1c40);
    color: #B3B8CD; /* cinza gelo */
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.pwa-install-prompt button.install-btn {
    background: #FEBB0B;
    color: #1F1A36; /* roxo escuro */
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.pwa-install-prompt button.close-btn {
    background: none;
    color: #B3B8CD;
    padding: 6px;
    border: none;
    cursor: pointer;
}

/* Adicione regras de mídia para dispositivos móveis */
@media (max-width: 600px) {
    .pwa-install-prompt {
        padding: 8px;
    }

    .pwa-install-prompt button.install-btn {
        padding: 12px 16px; /* Ajuste o tamanho conforme necessário para dispositivos móveis */
        font-size: 14px;    /* Ajuste o tamanho da fonte conforme necessário para dispositivos móveis */
    }

    .pwa-install-prompt button.close-btn {
        padding: 4px;
        font-size: 12px;    /* Ajuste o tamanho da fonte conforme necessário para dispositivos móveis */
    }
}


/* Estilo para o ícone flutuante do WhatsApp */
.whatsapp-icon {
    position: fixed;
    bottom: 50vh; /* Posição inicial ao carregar a página */
    right: 20px;
    background-color: #25d366; /* Cor de fundo do WhatsApp */
    color: #ffffff; /* Cor do ícone e do texto */
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Certifique-se de que este valor seja maior do que outros elementos na página */
    transition: bottom 0.5s ease; /* Adicione transição apenas à propriedade bottom */
}

/* Estilize o ícone do WhatsApp */
.whatsapp-icon i {
    font-size: 32px;
}
